@import "../../GlobalScss/Constants.scss";

.Navitems{
  font-family: $Montserrat;
  font-weight: 650;
  display: flex;
  gap: 20px;
  cursor: pointer;
  
  a{
    text-decoration: none;
    &:hover{
      
      color: $NavigationBackgroundColor;
      scale: 1.1;
    }
  }
}

@media (max-width: 480px){

  .Navitems {
    flex-direction: column;
    font-size: 14px;
  }
}
@media(min-width: 481px) and (max-width: 1000px ){
  .Navitems {
    flex-direction: column !important;
    font-size: 14px;
  }
}
