@import "../../GlobalScss/Constants.scss";

.MusicAnimation{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 5px;
  transform: rotate(180deg);
  .span{
    width: 5px;
    height: 15px;
    background-color: white;
    border-radius: 0px 10px 0px 10px;
  }
  .span1{
    animation-name: span1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  .span2{
    animation-name: span2;
    animation-duration: 0.55s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  .span3{
    animation-name: span3;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
}

@keyframes span1 {
  0%{
    height: 5px;
    background-color: black
  };
  100% {
    height: 15px;
  }
}
@keyframes span2 {
  0%{
    height: 5px;
    background-color: black
  };
  100% {
    height: 15px;
  }
}
@keyframes span3 {
  0%{
    height: 5px;
    background-color: black
  };
  100% {
    height: 15px;
  }
}

.PlayStopIcon{
  cursor: pointer;
  border-radius: 50%;
  transition: scale 0.1s;
  

  &:hover{
    scale: 1.1;
    color: $Black;
    opacity: 0.75;
  }
}


@media (max-width: 480px){
  .span{
    width: 4px !important;
    // height: 10px  !important;
  }
}