@import "./GlobalScss/Constants.scss";



// body{
  
//   // background-color: black;
// }
.App{
  // Apps aris relativi da simaghle da sigane imito aqvs micemuli rom position elementma gadaparos mtliani ekrani
  color: $White;
  padding: 20px 50px 20px 50px;
  // position: relative;
  // height: 100vh;
  // width: 100vw;
  // background-color: $Black;
  // overflow-x: hidden;
  

  //  radgan absolutia araqvs padingebi appidan
  // z indeqsi unda tore paravs yvelafers
  // ackgroundi aqvs amas micemuli shavi
  label{
    cursor: pointer;
  }
  input{
    cursor: pointer;
  }
  textarea{
    cursor: pointer;
  }
  .soon{
    position: absolute;
    color: greenyellow;
    z-index: 20;
    font-size: 20px;
    top: 150px;
    transform: rotate(-45deg);

  }
  .AboutConteiner{

    // background-color: blue;
    
  font-family: $Montserrat;
   margin-top: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: opacity 0.1s;
   @include opacity
  }
  .ProjectsAndSkillsconteiner{
    
    display: flex;
    margin-top: 100px;
    
    transition: opacity 0.1s;
    @include opacity
    
  }
  .ContactErthConteiner{
    margin-top: 200px;
    transition: opacity 0.1s;
   
   
    @include opacity
   
  }
  .BackgroundStarsConteiner{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $Black;
  
    // default
    z-index: -1;
  }
  

  .PlayStopConteiner{
    position: fixed;
    left: 0 ;
    right: 0;
    top: -75px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: flex-end;
   
    width: 150px;
    height: 150px;
    background-color:$NavigationBackgroundColor;
    transition: opacity 0.1s;
    opacity: 0.5;
    border-radius: 50%;
    z-index: 10;
    &:hover{
      opacity: 0.8;
      cursor: pointer;
    }
    
  }
  nav{
    position: fixed;
    top: 20px;
    display:  flex;
    justify-content: space-between;
    align-items: center;

    right: 50px;
    left: 50px;
    border-left: 0.5px solid $White;
    
  
  }

}

@media (max-width: 480px){

  .App{
    padding: 20px;

    .PlayStopConteiner{
      width: 100px;
      height: 100px;
      top: -50px;
    }
    .ProjectsAndSkillsconteiner{
      flex-direction: column-reverse;
    }
    .ContactErthConteiner{
      margin-top: 50px;
    }
    nav{
      left: 20px;
      right: 20px;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .ContactErthConteiner{
    margin-top: 70px !important;
  }
}