
@import "../../GlobalScss/Constants.scss";


.SkillsConteiner{
  flex: 1;
  padding: 20px;
  display: flex;
  // justify-content: space-around;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  

  h3{
    font-family: $Montserrat;
    font-size: $HeadinFontSize;
    color: $NavigationBackgroundColor;
    font-weight: $Weight;
  
   
  }
  
 

  .AllBalls{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
    justify-content: center;
    max-width: 300px;
  }
  

  .balls{
    width: 50px;
    height: 50px;
   
   
  }
 
}

@media (max-width: 480px){
  

}